$color-accent: #8FC003;

$color-text-primary: #000;
$color-text-secondary: #8B8B8B;

$color-borders: #ECECEC;
$color-bg: #F8F8F8;

$breakpoints: (
  "xs": 400px,
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1216px
);